<!--========== SLIDER ==========-->
<div class="promo-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 sm-margin-b-60">
        <div class="margin-b-30">
          <h1 class="promo-block-title">Le <br/>  Viet <br/> Dat</h1>
          <p class="promo-block-text">Full stack developer</p>
        </div>
        <ul class="list-inline">
          <li>
            <a href="#" class="social-icons">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" class="social-icons">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" class="social-icons">
              <i class="fa fa-dribbble" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" class="social-icons">
              <i class="fa fa-behance" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" class="social-icons">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <div class="promo-block-img-wrap">
          <img class="promo-block-img img-responsive" src="/assets/img/avatar.jpg" align="Avatar">
        </div>
      </div>
    </div>
    <!--// end row -->
  </div>
</div>
<!--========== SLIDER ==========-->

<!--========== PAGE LAYOUT ==========-->
<!-- About -->
<div id="about">
  <div class="container content-lg">
    <div class="row">
      <div class="col-sm-5 sm-margin-b-60">
        <img class="full-width img-responsive" src="/assets/img/about-me.png" alt="Image">
      </div>
      <div class="col-sm-7">
        <div class="section-seperator margin-b-50">
          <div class="margin-b-50">
            <div class="margin-b-30">
              <h2>About Me</h2>
              <p>I'm Alisa Portman, orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat.</p>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <a href="#" class="btn-theme btn-theme-md btn-default-bg text-uppercase">Download my CV</a>
          </div>
        </div>

        <h2>My Skills</h2>
        <!-- Progress Box -->
        <div class="progress-box">
          <h5>Nodejs
            <span class="color-heading pull-right">89%</span>
          </h5>
          <div class="progress" style="opacity: 1; left: 0px;">
            <div class="progress-bar bg-color-base" role="progressbar" data-width="87" style="width: 89%; height: 3px"></div>
          </div>
        </div>
        <div class="progress-box">
          <h5>Angular 2.x - 4.x
            <span class="color-heading pull-right">70%</span>
          </h5>
          <div class="progress">
            <div class="progress-bar bg-color-base" role="progressbar" data-width="96" style="width: 70%; height: 3px"></div>
          </div>
        </div>
        <div class="progress-box">
          <h5>Testing
            <span class="color-heading pull-right">77%</span>
          </h5>
          <div class="progress">
            <div class="progress-bar bg-color-base" role="progressbar" data-width="77" style="width: 77%; height: 3px"></div>
          </div>
        </div>
        <!-- End Progress Box -->
      </div>
    </div>
    <!--// end row -->
  </div>
</div>
<!-- End About -->

<!-- Experience -->
<div id="experience">
  <div class="bg-color-sky-light" data-auto-height="true">
    <div class="container content-lg">
      <div class="row row-space-2 margin-b-4">
        <div class="col-md-3 col-sm-6 md-margin-b-4">
          <div class="service" data-height="height">
            <div class="service-element">
              <i class="service-icon icon-mustache"></i>
            </div>
            <div class="service-info">
              <h3>Nodejs</h3>
              <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
            </div>
            <a href="#" class="content-wrapper-link"></a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 md-margin-b-4">
          <div class="service" data-height="height">
            <div class="service-element">
              <i class="service-icon color-white icon-screen-tablet"></i>
            </div>
            <div class="service-info">
              <h3 class="color-white">Angular 2.x -- 4.x</h3>
              <p class="color-white margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
            </div>
            <a href="#" class="content-wrapper-link"></a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 sm-margin-b-4">
          <div class="service" data-height="height">
            <div class="service-element">
              <i class="service-icon icon-chemistry"></i>
            </div>
            <div class="service-info">
              <h3>Testing</h3>
              <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
            </div>
            <a href="#" class="content-wrapper-link"></a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service" data-height="height">
            <div class="service-element">
              <i class="service-icon icon-badge"></i>
            </div>
            <div class="service-info">
              <h3>Html - css</h3>
              <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
            </div>
            <a href="#" class="content-wrapper-link"></a>
          </div>
        </div>
      </div>
      <!--// end row -->
    </div>
  </div>
</div>
<!-- End Experience -->

<!-- Work -->
<div id="work">
  <div class="container content-lg">
    <div class="row margin-b-40">
      <div class="col-sm-6">
        <h2>My Products</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim
          minim veniam exercitation</p>
      </div>
    </div>
    <!--// end row -->

    <div class="row">
      <!-- Latest Products -->
      <div class="col-sm-4 sm-margin-b-50">
        <div class="margin-b-20">
          <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
            <img class="img-responsive" src="img/970x647/01.jpg" alt="Latest Products Image">
          </div>
        </div>
        <h4>
          <a href="#">Triangle Roof</a>
          <span class="text-uppercase margin-l-20">Management</span>
        </h4>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad
          esqudiat dolor</p>
        <a class="link" href="#">Read More</a>
      </div>
      <!-- End Latest Products -->

      <!-- Latest Products -->
      <div class="col-sm-4 sm-margin-b-50">
        <div class="margin-b-20">
          <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
            <img class="img-responsive" src="img/970x647/02.jpg" alt="Latest Products Image">
          </div>
        </div>
        <h4>
          <a href="#">Curved Corners</a>
          <span class="text-uppercase margin-l-20">Developmeny</span>
        </h4>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad
          esqudiat dolor</p>
        <a class="link" href="#">Read More</a>
      </div>
      <!-- End Latest Products -->

      <!-- Latest Products -->
      <div class="col-sm-4 sm-margin-b-50">
        <div class="margin-b-20">
          <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
            <img class="img-responsive" src="img/970x647/03.jpg" alt="Latest Products Image">
          </div>
        </div>
        <h4>
          <a href="#">Bird On Green</a>
          <span class="text-uppercase margin-l-20">Design</span>
        </h4>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad
          esqudiat dolor</p>
        <a class="link" href="#">Read More</a>
      </div>
      <!-- End Latest Products -->
    </div>
    <!--// end row -->
  </div>
</div>
<!-- End Work -->

<!-- Clients -->
<div class="bg-color-sky-light">
  <div class="content-lg container">
    <!-- Swiper Clients -->
    <div class="swiper-slider swiper-clients">
      <!-- Swiper Wrapper -->
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="swiper-clients-img" src="img/clients/01.png" alt="Clients Logo">
        </div>
        <div class="swiper-slide">
          <img class="swiper-clients-img" src="img/clients/02.png" alt="Clients Logo">
        </div>
        <div class="swiper-slide">
          <img class="swiper-clients-img" src="img/clients/03.png" alt="Clients Logo">
        </div>
        <div class="swiper-slide">
          <img class="swiper-clients-img" src="img/clients/04.png" alt="Clients Logo">
        </div>
        <div class="swiper-slide">
          <img class="swiper-clients-img" src="img/clients/05.png" alt="Clients Logo">
        </div>
        <div class="swiper-slide">
          <img class="swiper-clients-img" src="img/clients/06.png" alt="Clients Logo">
        </div>
      </div>
      <!-- End Swiper Wrapper -->
    </div>
    <!-- End Swiper Clients -->
  </div>
</div>
<!-- End Clients -->

<!-- Promo Banner -->
<div class="promo-banner parallax-window" data-parallax="scroll" data-image-src="img/1920x1080/01.jpg">
  <div class="container-sm content-lg">
    <h2 class="promo-banner-title">Displaying the Result</h2>
    <p class="promo-banner-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
  </div>
</div>
<!-- End Promo Banner -->

<!-- Contact -->
<div id="contact">
  <div class="bg-color-sky-light">
    <div class="container content-lg">
      <div class="row margin-b-40">
        <div class="col-sm-6">
          <h2>Contact Me</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim
            minim veniam exercitation</p>
        </div>
      </div>
      <!--// end row -->

      <div class="row">
        <div class="col-md-3 col-xs-6 md-margin-b-30">
          <h4>Location</h4>
          <a href="#">Brookyln, New York</a>
        </div>
        <div class="col-md-3 col-xs-6 md-margin-b-30">
          <h4>Phone</h4>
          <a href="#">+77 234 548 00 00</a>
        </div>
        <div class="col-md-3 col-xs-6">
          <h4>Email</h4>
          <a href="mailto:#">alex.teseira@gmail.com</a>
        </div>
        <div class="col-md-3 col-xs-6">
          <h4>Web</h4>
          <a href="#">alex.teseira.com</a>
        </div>
      </div>
      <!--// end row -->
    </div>
  </div>
</div>