<footer class="footer">
  <div class="content container">
    <div class="row">
      <div class="col-xs-6">
        <img class="footer-logo" src="img/logo.png" alt="Acecv Logo">
      </div>
      <div class="col-xs-6 text-right sm-text-left">
        <p class="margin-b-0">
          <a class="fweight-700" href="http://keenthemes.com/preview/acecv/">Acecv</a> Theme Powered by:
          <a class="fweight-700" href="http://www.keenthemes.com/">KeenThemes.com</a>
        </p>
      </div>
    </div>
    <!--// end row -->
  </div>
</footer>
