
<header class="header navbar-fixed-top">
  <nav class="navbar" role="navigation">
    <div class="container">
      <div class="menu-container js_nav-item">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="toggle-icon"></span>
        </button>
        <div class="logo">
          <a class="logo-wrap" href="#body">
            <img class="logo-img" src="assets/img/logo.png" alt="Asentus Logo">
          </a>
        </div>
      </div>

      <div class="collapse navbar-collapse nav-collapse">
        <div class="menu-container">
          <ul class="nav navbar-nav navbar-nav-right">
            <li class="js_nav-item nav-item">
              <a class="nav-item-child nav-item-hover" href="#body">Home</a>
            </li>
            <li class="js_nav-item nav-item">
              <a class="nav-item-child nav-item-hover" href="#about">About</a>
            </li>
            <li class="js_nav-item nav-item">
              <a class="nav-item-child nav-item-hover" href="#experience">Experience</a>
            </li>
            <li class="js_nav-item nav-item">
              <a class="nav-item-child nav-item-hover" href="#work">Work</a>
            </li>
            <li class="js_nav-item nav-item">
              <a class="nav-item-child nav-item-hover" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
